<div class="landing-page-section">
  <div class="header-content">
    <p class="content">
      A little planning can make a lot happen. You can reach your coals even with moderate returns by staying invested.
    </p>
  </div>
  <div class="main-content">
    <div class="data-content">
      <p>
        "Let your Financial Goalguide your Investments; not your feats nor your obsession for high returns and you will find that even with moderate returns you can reach your goals"
      </p>
    </div>
    <div>
      <img src="../../../assets/images/w_5year-kM1E--621x414@LiveMint.webp" width="500" height="450">
    </div>
  </div>
  <div class="landing-page-footer">
    <div class="content">
      <span>We can help you in 5 minutes</span>
    </div>
    <div class="image">
      <img src="../../../assets/images/186109-636330511862047280-16x9.txt" width="300" height="200">
    </div>
    <div class="btn">
      <button [routerLink]="['signUp']">Make My Plan</button>
    </div>
  </div>
</div>